<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          {%- assign cur_href = page.url | relative_url | remove_first: 'index.html' -%}
          {%- for info in site.header_pages -%}
            {%- if info.url -%}
              {%- assign header_page = site.pages | where: "url", info.url | first -%}
              {%- if header_page.title -%}
                {%- assign href = header_page.url | relative_url | remove_first: 'index.html' -%}
                <a class="nav-link  {% if cur_href == href %}active{% endif %}" href="{{href}}">
                  {%- if info.title -%}
                    {{ info.title | escape }}
                  {%- else -%}
                    {{ header_page.title | escape }}
                  {%- endif -%}
                </a>
              {%- endif -%}
            {%- elsif info.urls -%}
              {%- if info.title -%}
                <script>console.log("{{ info.title }}")</script>
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id='dropdown{{info.title | remove: " "}}' role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{info.title}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby='dropdown{{info.title | remove: " "}}'>
                    {%- for page_info in info.urls -%}
                      {%- assign header_page = site.pages | where: "url", page_info.url | first -%}
                      {%- assign href = header_page.url | relative_url | remove_first: 'index.html' -%}
                      <script>console.log("{{ header_page.url }} : {{ page_info.url }} : {{ page_info.title }}")</script>
                      <li><a class="dropdown-item" href="{{href}}">
                        {%- if page_info.title -%}
                          {{ page_info.title | escape }}
                        {%- else -%}
                          {{ header_page.title | escape }}
                        {%- endif -%}
                      </a></li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </nav>
</header>
