<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          {%- assign cur_href = page.url | relative_url | remove_first: 'index.html' -%}
          {%- for info in site.header_pages -%}
            {%- if info.url -%}
              {%- assign header_page = site.pages | where: "url", info.url | first -%}
              {%- if header_page.title -%}
                {%- assign href = header_page.url | relative_url | remove_first: 'index.html' -%}
                <a class="nav-link  {% if cur_href == href %}active{% endif %}" href="{{href}}">
                  {%- if info.title -%}
                    {{ info.title | escape }}
                  {%- else -%}
                    {{ header_page.title | escape }}
                  {%- endif -%}
                </a>
              {%- endif -%}
            {%- elsif info.urls -%}
              {%- if info.title -%}
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id='dropdown{{info.title | remove: " "}}' role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{info.title}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby='dropdown{{info.title | remove: " "}}'>
                    {%- for page_info in info.urls -%}
                      {%- assign header_page = site.pages | where: "url", page_info.url | first -%}
                      {%- assign href = header_page.url | relative_url | remove_first: 'index.html' -%}
                      <li><a class="dropdown-item" href="{{href}}">
                        {%- if page_info.title -%}
                          {{ page_info.title | escape }}
                        {%- else -%}
                          {{ header_page.title | escape }}
                        {%- endif -%}
                      </a></li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </nav>
<!--
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}
      <nav class="navbar navbar-expand-lg navbar-light">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </nav>
    {%- endif -%}
  </div>
-->
</header>
