<script defer>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]:not(.tooltip-hover)'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl, {trigger: "manual"})
})
for(let i in tooltipTriggerList){
	let elem = tooltipTriggerList[i];
	let tooltip = tooltipList[i];
	elem.addEventListener(
		"click",
		()=>{
			tooltip.show();
			setTimeout(
				()=>{
					tooltip.hide()
				}, 1000
			)
		}
	)
}

var tooltipTriggerListHover = [].slice.call(document.querySelectorAll('.tooltip-hover'))
var tooltipListHover = tooltipTriggerListHover.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

document.querySelectorAll(".form-control-size-dynamic").forEach(
	(e)=>{
		e.style.width = ((e.value.length + 2) * 8) + 'px';
	}
)
document.querySelectorAll(".form-control-auto-select").forEach(
	(e)=>{
		e.addEventListener("click", (evt)=>{evt.target.select();});
	}
)





// TOC Pretty Generator
let toc = document.querySelector("#markdown-toc");
if(toc){
	let card = document.createElement("div");
	card.classList.add("card");
	toc.parentNode.replaceChild(card, toc);

	let cardBody = document.createElement("div");
	cardBody.classList.add("card-body", "ps-0");

	toc.classList.add("m-0", "fs-5");
	cardBody.appendChild(toc);

	/*for(let li of toc.querySelectorAll("li")){
		let p = document.createElement("p");
		p.classList.add("card-text");
		p.append(...li.querySelectorAll("a"));
		cardBody.appendChild(p);
	}*/

	card.appendChild(cardBody);
}

// Make external links target=_blank
document.querySelectorAll('a').forEach(
	(el)=>{
		if(el.hostname != window.location.hostname && el.hostname != ""){
      el.setAttribute("target", "_blank");
    }
	}
)

// Make target=_blank links noopener and noreferrer
document.querySelectorAll('a[target="_blank"]').forEach(
	(el)=>{
		el.rel = "noopener noreferrer";
	}
)


// Sad-text emoji generator
document.querySelectorAll('span.sad-text-emoji').forEach(
	(el)=>{
		const sad_text_emojis = [
			"(ノ_<。)", "(-_-)", "(´-ω-`)", ".･ﾟﾟ･(／ω＼)･ﾟﾟ･.",
			"(μ_μ)", "(ﾉД`)", "(-ω-、)", "。゜゜(´Ｏ`) ゜゜。",
			"o(TヘTo)", "( ; ω ; )", "(｡╯︵╰｡)", "｡･ﾟﾟ*(>д<)*ﾟﾟ･｡",
			"( ﾟ，_ゝ｀)", 	"(个_个)", 	"(╯︵╰,)", "｡･ﾟ(ﾟ><ﾟ)ﾟ･｡",
			"( ╥ω╥ )", "(╯_╰)", "(╥_╥)", ".｡･ﾟﾟ･(＞_＜)･ﾟﾟ･｡.",
			"(／ˍ・、)", "(ノ_<、)", "(╥﹏╥)", "｡ﾟ(｡ﾉωヽ｡)ﾟ｡",
			"(つω`｡)", "(｡T ω T｡)", "(ﾉω･､)", "･ﾟ･(｡>ω<｡)･ﾟ･",
			"(T_T)", "(>_<)", "(っ˘̩╭╮˘̩)っ", "｡ﾟ･ (>﹏<) ･ﾟ｡",
			"o(〒﹏〒)o", "(｡•́︿•̀｡)", "(ಥ﹏ಥ)", "(ಡ‸ಡ)",
		];
		el.textContent = sad_text_emojis[Math.floor(Math.random() * sad_text_emojis.length)];
	}
)
</script>