---
layout: default
---
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<h1>
Latest Posts
</h1>
<div class="home-col-body">
{%- assign cols_filtered = site.home.cols | where_exp:"col","col.disabled != true" -%}
{%- for home_col in cols_filtered -%}
<h3>
	{%- if home_col.title -%}
		{{ home_col.title }}
	{%- else -%}
		{{ home_col.label | capitalize }}
	{%- endif -%}
	<a class="btn btn-link bg-light ms-3 btn-sm" href="{{ home_col.url }}">See all posts</a>
</h3>
{%- assign col = site.collections | find: "label",home_col.label -%}
{%- assign post = col.docs | sort: home_col.sort | reverse | first -%}
<div class="card mb-3">
	<!-- We add style="transform: rotate(0);" because it causes the stretched link to only affect the body-->
	<div class="card-body" style="transform: rotate(0);">
		<h3>
		<a class="stretched-link" href="{{ post.url | relative_url }}">
			{{ post.title | escape }}
		</a>
		</h3>
	</div>
	{%- if post.tags and post.tags.size > 0 -%}
	  <ul class="list-group list-group-flush">
		{%- if post.tags and post.tags.size > 0 -%}
		  <li class="list-group-item">
			{%- for tag in post.tags -%}
			  <span class="badge bg-primary me-2">{{tag}}</span>
			{%- endfor -%}
		  </li>
		{%- endif -%}
	  </ul>
	{%- endif -%}
	<div class="card-footer">
	  <span class="post-meta">
		{%- if post.updated -%}
		  {{ post.date_published | date: date_format }} updated {{ post.date | date: date_format }}
		{%- else -%}
		  {{ post.date | date: date_format }}
		{%- endif -%}
	  </span>
	</div>
</div>
<hr/>
{%- endfor -%}
</div>